.recipeTitle {
    color: white;
}

.recipeImage {
    height: 200px;
    width: 150px;

}

.recipeIngredients {
    color: white;

}
.recipeDirections {
    color: white;

}

.myGridForRecipeDetails {
    display: flex;
}

.detailDirections {
    color: white;
}

.smallInputs {
    height: 30px;
    width: 350px;
    margin-bottom: 10px;
    background-color: #e771a2;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    font-size: 16px;
}

.largeInputs {
    width: 350px;
    height: 200px;
    margin-bottom: 10px;
    background-color: #e771a2;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    font-size: 16px;
}