.titleAndImage {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

textarea {
    height: 300px;
    width: 300px;
    border: none;
}

.homeBtn {
    width: 305px;
    margin-left: 30px;
    margin-top: 10px;
    height: 30px;
    border-radius: 5px;
    background-color: #e771a2;
    margin-bottom: 10px;
}